 body {
   padding-left: 0;
   padding-right: 0;
 }
 /* Set floating dom-heading margins to 0 */
 [class*="dom-heading"] {
   margin: 0;
 }
 .container-fluid.container-fluid-1 {
   margin-top: 20px;
 }
 .container-fluid-1 .row-fluid .span12 {
   padding: 0px;
 }
 .container-fluid .row-fluid .span2 .dom-heading {
   font-family:"Arial";
   font-size: 14px;
   line-height: 45px;
 }
 .container-fluid .row-fluid .span10 .container-fluid {
   padding: 0px 20px 0px 0px;
 }
 .container-fluid .row-fluid .span10 .container-fluid .dom-heading {
   font-family:"arial";
   font-weight: normal;
 }
 .container-fluid .row-fluid .span10 .container-fluid .dom-heading.dom-heading-1 {
   color: #000000;
   font-size: 32px;
 }
 .container-fluid .row-fluid .span10 .container-fluid .row-fluid .span12 .pull-right.pull-right-1 {
   width: 200px;
 }
 .container-fluid .row-fluid .span10 .container-fluid p {
   font-family:"arial";
   line-height: 21px;
 }
 .container-fluid .row-fluid .span10 .container-fluid .row-fluid .span12 .dom-link.dom-link-1 {
   padding: 0px 0px 0px 25px;
 }
 .container-fluid .row-fluid .span10 .container-fluid .row-fluid .span12 .dom-link.dom-link-2 {
   text-align: right;
 }
 .container-fluid .row-fluid .span10 .container-fluid .dom-heading.dom-heading-2 {
   font-size: 23px;
 }
 
 .bill-container {
 	display: none;
 }
 
 .insertion {
 	color: green;
 }
 
 .deletion {
 	color: red;
 	text-decoration: line-through;
 }
 
 .Preamble {
 	display: block;
 }

 .Num {
 	display: block;
 }