 body {
   padding-left: 0;
   padding-right: 0;
 }
 /* This makes absolutely positioned elements like p, h1,
     and some bootstrap elements placed properly. */
 #absolute-wrapper p, #absolute-wrapper h1, #absolute-wrapper h2, #absolute-wrapper h3, #absolute-wrapper h4, #absolute-wrapper h5, #absolute-wrapper h6 {
   margin-top: 0 !important;
 }
 #absolute-wrapper {
   position: relative;
   width: 980px;
   margin: 0 auto;
   height: 1px;
 }
 #absolute-wrapper .image {
   width: 0px;
   height: 0px;
   position: absolute;
   top: 0px;
   left: 0px;
 }
 .container-fluid {
   margin-top: 50px;
   margin-bottom: 50px;
   padding: 0px 50px 0px 50px;
 }
 .container-fluid .row-fluid.row-fluid-1 {
   margin: 0px 0px 50px 0px;
 }
 .container-fluid .row-fluid-1 .span6.span6-1 {
   padding: 50px 0px 0px 50px;
 }
 .container-fluid .row-fluid .span3 .icon.icon-user {
   font-size: 100px;
   height: 100px;
   width: 100px;
 }
 .container-fluid .row-fluid .span3 p {
   text-align: center;
 }
 .container-fluid .row-fluid .span3 .icon.icon-list {
   font-size: 100px;
   height: 100px;
   width: 100px;
 }
 .container-fluid .row-fluid .span3 .icon.icon-group {
   font-size: 100px;
   height: 100px;
   width: 100px;
 }
 .container-fluid .row-fluid .span3 .icon.icon-comments-alt {
   font-size: 100px;
   height: 100px;
   width: 100px;
 }

.search-query {
  width: 80%;
  height: 40px;
}

.icon {
 height: 50px;
 font-size: 48px;
}

.span4 {
  width: 20%;
}

.form-inline{
  width: 80%;
}

