 body {
   padding-left: 0;
   padding-right: 0;
 }
 /* Set floating dom-heading margins to 0 */
 [class*="dom-heading"] {
   margin: 0;
 }
 .container-fluid.container-fluid-1 {
   margin-top: 20px;
 }
 .container-fluid-1 .row-fluid .span12.span12-1 {
   padding: 0px;
 }
 .container-fluid-1 .container-fluid .row-fluid .span8 .container-fluid.container-fluid-2 {
   padding: 0px 20px 0px 0px;
 }
 .container-fluid-1 .container-fluid .row-fluid .span8 .container-fluid-2 .row-fluid .span12 .pull-right {
   width: 200px;
 }
 .container-fluid-1 .container-fluid .row-fluid .span8 .container-fluid-2 .row-fluid .span12 .container-fluid .dom-heading {
   font-family:"Arial";
   font-size: 32px;
 }
 .container-fluid-1 .container-fluid .row-fluid .span8 .container-fluid-2 .row-fluid .span12 .container-fluid.container-fluid-3 {
   padding: 0px 0px 25px 0px;
 }