<!DOCTYPE HTML>
<html lang="en">
  
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href="https://fonts.googleapis.com/css?family=" media="screen" rel="stylesheet" type="text/css" />
    <link href="@routes.Assets.at("stylesheets/bootstrap.css")" media="screen" rel="stylesheet" type="text/css" />
    <link href="@routes.Assets.at("stylesheets/bootstrap-responsive.css")" media="screen" rel="stylesheet" type="text/css" />
    <link href="@routes.Assets.at("stylesheets/common.css")" media="screen" rel="stylesheet" type="text/css" />
    <link href="@routes.Assets.at("stylesheets/fontawesome.css")" media="screen" rel="stylesheet" type="text/css" />
    <link href="@routes.Assets.at("stylesheets/project.css")" media="screen" rel="stylesheet" type="text/css" />
    <link href="@routes.Assets.at("stylesheets/person.css")" media="screen" rel="stylesheet" type="text/css" />
    <!-- Typekit fonts require an account and a kit containing the fonts used. see https://typekit.com/plans for details. <script type="text/javascript" src="//use.typekit.net/YOUR_KIT_ID.js"></script>
  <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
-->
    <title></title>
  </head>
  
  <body>
    <div class="container-fluid container-fluid-1">
      <div class="row-fluid">
        <span class="span12 span12-1">
          <form class="form-inline" action="">
            <input class="textinput span8 search-query" type="text" name="" value="water" placeholder="">
            <button class="btn btn-primary">Search</button>
          </form>
        </span>
      </div>
      <div class="container-fluid">
        <div class="row-fluid">
          <span class="span4">
            <img class="pull-center image" src="http://ballotpedia.org/wiki/images/Henry_Perea.jpg">
          </span>
          <span class="span8">
            <div class="container-fluid container-fluid-2">
              <div class="row-fluid">
                <span class="span12">
                  <select class="pull-right" name="">
                    <option value="Most Recent Term">Most Recent Term</option>
                  </select>
                  <div class="container-fluid">
                    <h1 class="dom-heading">
                      <span>Henry T. Perea</span>
                    </h1>
                  </div>
                  <ul class="nav nav-tabs">
                    <li class="active">
                      <a href="#">Summary</a>
                    </li>
                    <li>
                      <a href="#">Meetings</a>
                    </li>
                    <li>
                      <a href="#">Connections</a>
                    </li>
                  </ul>
                </span>
              </div>
              <p>Henry T. Perea is a Democratic member of the California State Assembly, representing District 31 since 2010. He is a former council member of the City of Fresno, serving from 2002 to 2010. In 2007, he was president of that city council.
                <br>
              </p>
              <div class="row-fluid">
                <span class="span12">
                  <div class="container-fluid container-fluid-3">
                    <div class="row-fluid">
                      <span class="span12">
                        <p><b>In Office:</b>
                        </p>
                        <p>&nbsp; &nbsp; &nbsp;&nbsp;December 6, 2010-Present</p>
                        <p><b>Party:&nbsp;</b>
                        </p>
                        <p>&nbsp; &nbsp; &nbsp; Democratic&nbsp;</p>
                      </span>
                    </div>
                  </div>
                </span>
              </div>
            </div>
          </span>
        </div>
      </div>
    </div>
  </body>

</html>