<!DOCTYPE HTML>
<html lang="en">
  
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href="https://fonts.googleapis.com/css?family=" media="screen" rel="stylesheet" type="text/css" />
    <link href="@routes.Assets.at("stylesheets/bootstrap.css")" media="screen" rel="stylesheet" type="text/css" />
    <link href="@routes.Assets.at("stylesheets/bootstrap-responsive.css")" media="screen" rel="stylesheet" type="text/css" />
    <link href="@routes.Assets.at("stylesheets/common.css")" media="screen" rel="stylesheet" type="text/css" />
    <link href="@routes.Assets.at("stylesheets/fontawesome.css")" media="screen" rel="stylesheet" type="text/css" />
    <link href="@routes.Assets.at("stylesheets/project.css")" media="screen" rel="stylesheet" type="text/css" />
    <link href="@routes.Assets.at("stylesheets/search-results.css")" media="screen" rel="stylesheet" type="text/css" />
    <!-- Typekit fonts require an account and a kit containing the fonts used. see https://typekit.com/plans for details. <script type="text/javascript" src="//use.typekit.net/YOUR_KIT_ID.js"></script>
  <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
-->
    <title></title>
  </head>
  
  <body>
    <div class="container-fluid container-fluid-1">
      <div class="row-fluid">
        <span class="span12">
          <form class="form-inline" action="">
            <input class="textinput span8 search-query" type="text" name="" value="water" placeholder="">
            <button class="btn btn-primary">Search</button>
          </form>
        </span>
      </div>
    </div>
    <div class="container-fluid">
      <div class="row-fluid">
        <span class="span2">
          <h1 class="dom-heading">
            <span>Filter By:&nbsp;</span>
          </h1>
          <div class="row-fluid">
            <span class="span1"> <i class="icon icon-plus"></i> 
            </span>
            <span class="span6">
              <p>Author</p>
            </span>
          </div>
          <div class="row-fluid">
            <span class="span1"> <i class="icon icon-plus"></i> 
            </span>
            <span class="span6">
              <p>Date</p>
            </span>
          </div>
          <div class="row-fluid">
            <span class="span1"> <i class="icon icon-plus"></i> 
            </span>
            <span class="span6">
              <p>Bill Status</p>
              <p>
                <br>
              </p>
            </span>
          </div>
        </span>
        <span class="span10">
          <div class="container-fluid container-fluid-2">
            <div class="row-fluid">
              <span class="span12">
                <ul class="nav nav-tabs">
                  <li class="active">
                    <a href="#">Bills</a>
                  </li>
                  <li>
                    <a href="#">Hearings</a>
                  </li>
                  <li>
                    <a href="#">People</a>
                  </li>
                </ul>
              </span>
            </div>
            <div class="row-fluid">
              <span class="span12">
                <div class="container-fluid">
                  <div class="row-fluid">
                    <span class="span12">
                      <a class="dom-link dom-link-1" href="#">AB-1 Water quality: integrated plan: Salinas Valley.</a>
                      <p>An act to amend Section 13350 of the Water Code, relating to water quality, making an appropriation therefor, and declaring the urgency thereof, to take effect immediately.</p>
                      <a class="dom-link" href="#"></a>
                    </span>
                  </div>
                  <div class="row-fluid">
                    <span class="span12">
                      <a class="dom-link dom-link-1" href="#">AB-21 Safe Drinking Water Small Community Emergency Grant Fund.</a>
                      <p>An act to add Section 116760.46 to the Health and Safety Code, relating to drinking water, and making an appropriation therefor.</p>
                      <a class="dom-link" href="#"></a>
                    </span>
                  </div>
                  <div class="row-fluid">
                    <span class="span12">
                      <a class="dom-link dom-link-1" href="#">AB-30 Water quality.</a>
                      <p>An act to amend Section 13477.6 of the Water Code, relating to water quality.</p>
                      <a class="dom-link" href="#"></a>
                    </span>
                  </div>
                  <div class="row-fluid">
                    <span class="span12 searchselected">
                      <div>
                        <a class="dom-link dom-link-1" href="bill.html">AB-69 Groundwater: Nitrate at Risk Area Fund.</a>
                        <p>An act to add Section 13444 to the Water Code, relating to water.</p>
                      </div>
                      <a class="dom-link" href="#"></a>
                    </span>
                  </div>
                </div>
              </span>
            </div>
          </div>
        </span>
      </div>
    </div>
  </body>

</html>